{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>
<ul>
    <div>
        <h3> {{ listing.title }} </h3>
        <p> {{ listing.current_price }} </p>
        <img src="{{ listing.image }}" alt=""No image available for this add :(">
        <li>
            <p> {{ listing.description }} </p>
        </li>
        <h4> Owner: {{ listing.owner }} </h4>
    </div>
    {% if user.is_authenticated %}
    <form action="{% url 'watchlist' listing.id %}" method="post">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Add to watchlist">
    </form>

    {% endif %}
    {% if listing.owner ==  user %}
    <form action="{% url 'listing' listing.id %}" method="post">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Delete">
    </form>

    {% endif %}
    <a href="{% url 'index' %}"> Home </a>
    <br>
</ul>
{% endblock %}